{
  "SelfInfo": {
    "raft_id": 1,
    "rpc_port": 3267,
    "capacity": 10
  },
  "RpcPort": 3267,
  "HttpPort": 3268,
  "StoragePath": "/data/ecos",
  "MoonConfig": {
    "SunAddr": "ecos-cloud-dev.ecos.svc.cluster.local:3267",
    "GroupInfo": {},
    "NodeInfoCommitInterval": 10000000000
  },
  "GaiaConfig": {
    "BasePath": "/data/ecos/gaia/"
  }
}